development:
  secret_key_base: ~
  facebook_app_id: ~
  facebook_app_secret: ~
  twitter_app_id: ~
  twitter_app_secret: ~
test:
  secret_key_base: ~
  facebook_app_id: ~
  facebook_app_secret: ~
  twitter_app_id: ~
  twitter_app_secret: ~
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  facebook_app_id: <%= ENV["FACEBOOK_APP_ID"] %>
  facebook_app_secret: <%= ENV["FACEBOOK_APP_SECRET"] %>
  twitter_app_id: <%= ENV["TWITTER_APP_ID"] %>
  twitter_app_secret: <%= ENV["TWITTER_APP_SECRET"] %>
